nav {
    background-color: purple;
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    margin: 0;
    padding: 10px 15px;
    color: cornflowerblue;
}

nav a:hover{
    background-color: gainsboro;
}


